body{
            background: url(../img/bg.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

.container{
    margin-top: 10px;
    padding: 15px;
    background-color: #607B8B;
    border: 4px groove gold;
    border-radius: 2%;
    -webkit-box-shadow: 0px 0px 34px 0px rgba(3,255,234,1);
    -moz-box-shadow: 0px 0px 34px 0px rgba(3,255,234,1);
    box-shadow: 0px 0px 34px 0px rgba(3,255,234,1); 
    margin-bottom: 10px;
    background-image: url(../img/back.jpg);
}

.gallery-card{
    width: 370px;
    height: 480px;
}

.gallery-card-image-final{
    width: 420px;
    height: 500px;
}

.caption, .card-name-show-container, .card-tags-show-container, .card-descr-show-container {
    margin: 3%;
}

.col-md-4{
    padding: 5px!important;
}

#home
{
    width: 100%;
    height: 100%;

    border-radius: 25px;
    vertical-align: middle;
}

.toTheRedactor
{
    display: inline-block; /* �������-������� ������� */
    position: relative; /* ������������� ���������������� */
}

.toTheRedactor:hover::after {
    content: attr(data-title); /* ������� ����� */
    position: absolute; /* ���������� ���������������� */
    left: 0; right: 0; bottom: 5px; /* ��������� ��������� */
    z-index: 1; /* ���������� ��������� ������ ������ ��������� */
    color: khaki; /* ���� ������ */
    text-align: center; /* ������������ ������ �� ������ */
    font-family: Arial, sans-serif; /* ��������� ������ */
    font-size: 70px; /* ������ ������ ��������� */
    padding: 5px 10px; /* ���� */
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}