body{
    background: url(../img/bg.png) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container
{
    margin-top: 10px;
    width: 90%;
    padding: 15px;
    background-color: #607B8B;
    border: 4px groove gold;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 34px 0px rgba(3,255,234,1);
    -moz-box-shadow: 0px 0px 34px 0px rgba(3,255,234,1);
    box-shadow: 0px 0px 34px 0px rgba(3,255,234,1);
    margin-bottom: 10px;
    background-image: url(../img/back.jpg);
}

.col-md-6
{
    width: 60% !important;
}

.col-md-4
{
    padding: 5px!important;
}

h1, h2, h3
{
    color: white;
}

h2
{
    margin-top: 10px !important;
}

h3, label {
    font-weight: 700!important;
}

.leftBlock, .rightBlock {
    border: 4px inset gold;
    border-radius: 25px;
    margin: 5px;
    background-color: tan;
    background-image: url(../img/fon.png);
    opacity: 0.93;
}

#kind-input-container{
    margin: 2%;
}

#power-input-container{
    margin-top: 40px;
    width: 140px;
}

#kind-input-container > h2{
    font-weight: 700;
    color: white;
}

#kind-input-container > label{
    font-weight: 700;
    font-size: 18px;
}

.input-row{
    margin-left: 15px;
}

#descr-row{
    width: 90%;
    margin-top: 20px;
    margin-right: 2%;
}

.btn-area>.media{
    margin-left: 15px;
    padding: 10px;
}

.btn-area>.media>#fileload{
    float: left;
    width: 50%;
}

.btn-area>.media>.load {
      display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  background: darkslategrey; 
   
}

.btn-area>button{
    width: 90%;
    margin-left: 15px;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
     display: inline-block;
   color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  background: darkslategrey;
}

.card-layer {
    width: 400px;
    height: 500px;
    position: absolute;
    top: 0;
    background: no-repeat;
    background-size: contain;
    z-index: 10;
}

#image-layer {
    z-index: 1;
    width: 400px!important;
    height: 450px!important;
}

#troll
{  
    width: 100%;
    height: 100%;
    
    border-radius: 25px;
    vertical-align: middle;
    max-height: 300px;
    max-width: 550px;
}

.toTheGallery
{
    display: inline-block; /* �������-������� ������� */
    position: relative; /* ������������� ���������������� */
}

.toTheGallery:hover::after {
    content: attr(data-title); /* ������� ����� */
    position: absolute; /* ���������� ���������������� */
    left: -10%; right: 0; bottom: 5px; /* ��������� ��������� */
    z-index: 1; /* ���������� ��������� ������ ������ ��������� */
    color: khaki; /* ���� ������ */
    text-align: center; /* ������������ ������ �� ������ */
    font-family: Arial, sans-serif; /* ��������� ������ */
    font-size: 70px; /* ������ ������ ��������� */
    padding: 5px 10px; /* ���� */
    text-shadow: 1px 1px 0 #000, 
    -1px 1px 0 #000, 
    1px -1px 0 #000, 
    -1px -1px 0 #000, 
    0px 1px 0 #000, 
    0px -1px 0 #000, 
    -1px 0px 0 #000, 
    1px 0px 0 #000, 
    2px 2px 0 #000, 
    -2px 2px 0 #000, 
    2px -2px 0 #000, 
    -2px -2px 0 #000, 
    0px 2px 0 #000, 
    0px -2px 0 #000, 
    -2px 0px 0 #000, 
    2px 0px 0 #000, 
    1px 2px 0 #000, 
    -1px 2px 0 #000, 
    1px -2px 0 #000, 
    -1px -2px 0 #000, 
    2px 1px 0 #000, 
    -2px 1px 0 #000, 
    2px -1px 0 #000, 
    -2px -1px 0 #000;
}

.ci-main{
    top: 65px;
    left: 20px;
    position: relative;
    width: 400px;
    height: 400px;
}

.caption, .card-name-show-container, .card-tags-show-container, .card-descr-show-container {
    margin: 3%;
}

.caption{
    margin-top: 80px;
}

.move-img-btn-container{
    margin-top: 80px;
}
#timer-num-input-container{
    margin-top: 43px;
    width: 60px;
}

.modal-header>h4{
    text-align: center;
    width: 45%;
    margin-right: 25%;
    margin-left: 30%;
}

.modal-footer>.btn-default{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

#card-image-final{
    width: 400px;
    height: 500px;
}

.card-power-show{
    position: relative;
    top: 75px;
    left: 65px;
    font-weight: 900;
    color: white;
    font-size: 35px;
}

.button2
{
      width: 90%;
    margin-left: 15px;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
     display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  background: darkslategrey;
}

input {
    visibility: hidden;
}

#power-input, #name-input, #tags-input, #img-load, #card-name-show, #card-tags-show  {
    visibility: visible;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 0 !important;
}