<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Gwent Redactor</title>
    <link rel="shortcut icon" href="img/icon.png" type="image/png">
    <link type="text/css" href="css/main.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="cropimg/resource/cropimg.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="cropimg/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="cropimg/cropimg.jquery.js"></script>

    <script type="text/javascript" src="js/supermain.js"></script>
</head>
<body>

<div class="container">
    <div class = "menu row">
        <div class = "toTheGallery col-md-4 col-md-offset-4"  data-title="Gallery">
            <a href="gallery.html"><img id="troll" src="img/gallery.jpg" name ="troll" alt=""  class ="troll"> </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-7">
            <div class="leftBlock">

                <form action="" method="post" enctype="multipart/form-data">
                    <div id="kind-power-row" class="input-row">
                        <div class="row">
                            <div id="kind-input-container" class="col-md-7">
                                <h2> Kind: </h2>

                                <label class="radio-inline"><input type="radio" name="kind" value="Creature" checked>
                                    <img src="img/icons/Creature.png" alt=""/>
                                    Creature</label>
                                <label class="radio-inline"><input type="radio" name="kind" value="Special">
                                    <img src="img/icons/Leader.png" alt=""/>
                                    Special or Leader</label>
                            </div>

                            <div id="power-input-container" class="col-md-3 creature-only">
                                <label for="power-input">Creature power:</label>
                                <input type="number" class="form-control" id="power-input" name="power" min="1" max="99" value="1">
                            </div>
                        </div>
                    </div>

                    <div id="name-tags-row" class="input-row">
                        <div class="row">
                            <div class="col-md-6" id="name-input-container">
                                <label for="name-input">Card name:</label>
                                <input type="text" class="form-control" id="name-input" name="name">
                            </div>

                            <div class="col-md-5" id="tags-input-container">
                                <label for="tags-input">Tags:</label>
                                <input type="text" class="form-control" id="tags-input" name="tags">
                            </div>
                        </div>
                    </div>

                    <div id="type-loyalty-row" class="input-row">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Type:</h3>

                                <label class="radio-inline"><input type="radio" name="type" value="Bronze" checked>Bronze
                                    <img src="img/banners/bronze.png" width="40" height="40" alt=""/>
                                </label>
                                <label class="radio-inline"><input type="radio" name="type" value="Silver">Silver
                                    <img src="img/banners/silver.png" width="40" height="40" alt=""/>
                                </label>
                                <label class="radio-inline"><input type="radio" name="type" value="Gold">Gold
                                    <img src="img/banners/gold.png" width="40" height="40" alt=""/>
                                </label>
                            </div>

                            <div class="col-md-6 creature-only">
                                <h3>Loyalty:</h3>

                                <label class="radio-inline"><input type="radio" name="loyalty" value="Loyal" checked>Loyal
                                    <img src="img/icons/loyalty1.png" width="50" height="50" alt=""/>
                                </label>
                                <label class="radio-inline"><input type="radio" name="loyalty" value="Disloyal">Disloyal
                                    <img src="img/icons/disloyal.png" width="50" height="50" alt=""/>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div id="faction-row" class="input-row">
                        <h3>Faction:</h3>

                        <label class="radio-inline"><input type="radio" name="faction" value="Neutral" checked>Neutral
                            <img src="img/icons/neutral.png" width="60" height="60" alt=""/>
                        </label>
                        <label class="radio-inline"><input type="radio" name="faction" value="NR">Northern Realms
                            <img src="img/icons/Norht.png" width="60" height="60" alt=""/>
                        </label>
                        <label class="radio-inline"><input type="radio" name="faction" value="Scoiatael">Scoiatael
                            <img src="img/icons/Scoitael.png" width="60" height="60" alt=""/>
                        </label>
                        <label class="radio-inline"><input type="radio" name="faction" value="Monsters">Monsters
                            <img src="img/icons/monsters.png" width="60" height="60" alt=""/>
                        </label>
                        <label class="radio-inline"><input type="radio" name="faction" value="Skellige">Skellige
                            <img src="img/icons/skelige.png" width="60" height="60" alt=""/>
                        </label>
                    </div>

                    <div id="rarity-row" class="input-row">
                        <h3>Rarity:</h3>

                        <label class="radio-inline"><input type="radio" name="rarity" value="Common" checked >Common
                            <img src="img/gems/common.png" width="40" height="40" alt=""/>
                        </label>
                        <label class="radio-inline"><input type="radio" name="rarity" value="Rare">Rare
                            <img src="img/gems/rare.png" width="40" height="40" alt=""/>
                        </label>
                        <label class="radio-inline"><input type="radio" name="rarity" value="Epic">Epic
                            <img src="img/gems/epic.png" width="40" height="40" alt=""/>
                        </label>
                        <label class="radio-inline"><input type="radio" name="rarity" value="Legendary">Legendary
                            <img src="img/gems/legendary.png" width="40" height="40" alt=""/>
                        </label>
                    </div>

                    <div id="lane-row" class="input-row creature-only">
                        <h3>Lane:</h3>

                        <label class="radio-inline"><input type="radio" name="lane" value="Melee" checked>Melee
                            <img src="img/gems/melee.png" width="50" height="50" alt=""/>
                        </label>
                        <label class="radio-inline"><input type="radio" name="lane" value="Ranged">Ranged
                            <img src="img/gems/ranged.png" width="50" height="50" alt=""/>
                        </label>
                        <label class="radio-inline"><input type="radio" name="lane" value="Siege">Siege
                            <img src="img/gems/siege.png" width="50" height="50" alt=""/>
                        </label>
                        <label class="radio-inline"><input type="radio" name="lane" value="Any">Any
                            <img src="img/gems/any.png" width="50" height="50" alt=""/>
                        </label>
                    </div>

                    <div id="ability-row" class="input-row creature-only">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Abilities:</h3>

                                <label class="radio-inline"><input type="radio" name="ability" value="None" checked>None
                                </label>
                                <label class="radio-inline"><input type="radio" name="ability" value="Death">Death
                                    <img src="img/icons/Deth1.png" width="40" height="50" alt=""/>
                                </label>
                                <label class="radio-inline"><input type="radio" name="ability" value="Fire">Fire
                                    <img src="img/icons/Fire1.png" width="40" height="50" alt=""/>
                                </label>

                            </div>

                            <div class="col-md-6">
                                <div class="hidden" id="timer-num-input-container">
                                    <input type="number" class="form-control" id="timer-num-input" name="timer-num" min="1" max="20" value="0">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="descr-row" class="input-row" >
                        <div class="form-group">
                            <h3>Description: </h3>
                            <textarea class="form-control" rows="4" id="descr-input" name="description"></textarea>
                        </div>
                    </div>

                    <div class="btn-area">
                        <div class="media">
                            <button class = "load"> <input type="file" name="file" id="img-load"></button>
                        </div>

                        <button type="button" name="finish-button">Finish</button>
                        <!-- Modal
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Your card:</h4>
                                    </div>

                                    <div class="modal-body">
                                        <img src="" id="card-image-final">

                                        <div class="caption">
                                            <div class="card-name-show-container">
                                                <label for="card-name-show">Name:</label>
                                                <input type="text" class="form-control" id="card-name-modal" name="name-modal" readonly>
                                            </div>

                                            <div class="card-tags-show-container">
                                                <label for="card-tags-show">Tags:</label>
                                                <input type="text" class="form-control" id="card-tags-modal" name="tags-modal" readonly>
                                            </div>

                                            <div class="card-descr-show-container">
                                                <label>Description: </label>
                                                <textarea class="form-control" id="card-description-modal" name="description-modal" readonly></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"><a href="/">Make another one</a></button>
                                        <button type="button" class="btn btn-default"><a href="gallery.html">Gallery</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-5">
            <div class="rightBlock">
                <div id="card-preview">
                    <img id="image-layer" src="img/Card.jpg" class="image-layer">

                    <div id="layers" class="">

                    </div>
                </div>

                <div class="caption">
                    <div class="card-name-show-container">
                        <label for="card-name-show">Name:</label>
                        <input type="text" class="form-control" id="card-name-show" name="name-show" readonly>
                    </div>

                    <div class="card-tags-show-container">
                        <label for="card-tags-show">Tags:</label>
                        <input type="text" class="form-control" id="card-tags-show" name="tags-show" readonly>
                    </div>

                    <div class="card-descr-show-container">
                        <h3>Description: </h3>
                        <textarea class="form-control" rows="5" id="card-description-show" name="description-show" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>