<div class="col-md-4">
    <img src="" class="gallery-card">

    <button class="hidden" type="button" name="modal-button" data-toggle="modal" data-target="#"></button>
    <!-- Modal -->
    <div class="modal fade" id="" role="dialog">
        <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="" class="gallery-card-image-final">

                <div class="caption">
                    <div class="card-name-show-container">
                        <label for="card-name-show">Name:</label>
                        <input type="text" class="form-control" name="name-modal" readonly>
                    </div>

                    <div class="card-tags-show-container">
                        <label for="card-tags-show">Tags:</label>
                        <input type="text" class="form-control" name="tags-modal" readonly>
                    </div>

                    <div class="card-descr-show-container">
                        <label>Description: </label>
                        <textarea class="form-control" rows="5" name="description-modal" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
